* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
}

header {
  position: fixed;
  width: 100%;
  transition: background 0.5s, box-shadow 0.5s;
  border: #333;
}

header.scrolled {
  background: transparent;
  backdrop-filter: blur(8px); 
  box-shadow: 0 2px 6px #0000001a;
  border-bottom: 1px solid #ffffff4d; 
  z-index: 1000;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem 2rem;
}


.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}

.section {
  min-height: 100vh;
  padding: 8rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero {
  background: url('/opp-wall.jpeg')
}

.hero .btn {
  background: white;
  color: #007bff;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s;
}

.btn:hover {
  background: #0056b3;
}

.servicos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  max-width: 1000px;
}

.servico {
  background: #f8f8f8;
  padding: 2rem;
  border-radius: 8px;
  width: 280px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  transition: transform 0.3s;
}

.servico:hover {
  transform: translateY(-5px);
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1.5rem 0;
}